/*Externos*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Koulen&family=Merriweather:ital@1&family=Radio+Canada:ital@1&family=Raleway:wght@300&family=Roboto:wght@300;400&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Merriweather:ital@1&family=Raleway:wght@300&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Raleway:wght@300&family=Ubuntu:wght@300&display=swap");
/*Misc*/
/*COLORES*/
.base {
  color: #FFFFFF; }

.primary {
  color: #FFFFFF; }

.secondary {
  color: #000000ee; }

.text-color {
  color: #000000; }

.text-sections {
  color: #423f3fc7; }

.text-submenu {
  color: #e7e7e7a4; }

.text-textoSecundario {
  color: #292727; }

.text-hover {
  color: #488888b2; }

.shadow {
  color: #00000027; }

/*FONT FAMILY*/
/*FONT SIZES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #FFFFFF;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; }

/*Partials*/
/*BARRA NAVEGACION*/
.navbar .container-fluid .navbar-brand {
  letter-spacing: 3px;
  font-size: 3.5em;
  font-family: "Raleway", sans-serif;
  color: #000000ee; }

.navbar .menuNavegacion {
  margin-right: 95px; }
  .navbar .menuNavegacion .nav-link {
    color: #292727;
    font-family: "Ubuntu", sans-serif; }

.navbar .menu .dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif; }

.navbar .menu li:hover {
  visibility: visible;
  opacity: 1; }

.navbar .menu .submenu__desplegable {
  position: absolute;
  background: #e7e7e7a4;
  border: none;
  width: 150px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s; }

.navbar .barra__submenu .enlace__submenu {
  display: block;
  padding: 15px;
  color: #423f3fc7;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none; }

.navbar .botones__barraNavegacion {
  text-decoration: none;
  color: #000000; }

.navbar .botones__barraNavegacion:hover {
  color: #FFFFFF; }

.footer .footer__preguntas {
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  margin: 50px; }
  .footer .footer__preguntas .footer__faqs {
    margin: 8px;
    display: flex;
    justify-content: center; }

.footer .box {
  display: flex;
  flex-direction: row;
  font-family: "Ubuntu", sans-serif; }
  .footer .box .footer__box {
    text-decoration: none;
    color: #000000;
    padding: 7px;
    border: 1px solid rgba(65, 58, 58, 0.486);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    width: 100%; }

/*Pages*/
.contactoTitulo {
  font-family: "Radio Canada", sans-serif;
  font-size: 2em; }

.contacto {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
  color: #000000; }

.card__productos .titulo__coleccion, .card__productos .titulo__coleccion--active {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin-bottom: 70px;
  margin-top: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 3.5em; }
  .card__productos .titulo__coleccion--active {
    color: #1d396e; }

.card__productos .cardIndex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin-top: 15px; }

.card-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 2em; }

.card-text {
  font-family: "Ubuntu", sans-serif;
  color: "Fira Sans", sans-serif;
  font-size: 1.5em; }

.card {
  box-shadow: 5px 5px 5px var(--shadow); }

.imgContainer {
  height: 400px;
  position: relative; }

.estilo .imgContainer img {
  width: 100%;
  transition: all 25sg;
  box-shadow: 5px 5px 5px #00000027; }

.estilo:hover .imgContainer img {
  transform: scale(1.06); }

.artesanos__card .artesanos {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(3 200px);
  gap: 10px;
  margin-top: 20px; }
  .artesanos__card .artesanos__titulo {
    display: flex;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1;
    font-size: 7.5em;
    font-family: "Raleway", sans-serif; }
  .artesanos__card .artesanos__parrafo {
    display: flex;
    justify-content: center;
    grid-column: 1;
    grid-row: 2/3;
    font-size: 3.5em;
    font-family: "Raleway", sans-serif; }
  .artesanos__card .artesanos__imagen {
    grid-column: 2;
    grid-row: 2;
    width: 100%; }

.bienvenido {
  font-family: "Raleway", sans-serif;
  color: #292727; }

.form-label {
  font-family: "Dongle", sans-serif;
  font-size: 1.2em;
  color: #423f3fc7; }

.form-check-label {
  font-family: "Dongle", sans-serif;
  font-size: 0.9em;
  color: #423f3fc7; }

.registro {
  text-decoration: none;
  font-family: "Dongle", sans-serif;
  color: #423f3fc7; }

.form__sexo {
  font-family: "Dongle", sans-serif;
  color: #423f3fc7; }

.texto__newIn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 20px; }

.card-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 2em; }

.card-title:hover {
  color: #488888b2; }

.card-text {
  font-family: "Ubuntu", sans-serif;
  color: "Fira Sans", sans-serif;
  font-size: 1.5em; }

.card {
  box-shadow: 5px 5px 5px #00000027; }

.estilo .imgContainer img {
  width: 100%;
  transition: all 25sg;
  box-shadow: 5px 5px 5px #00000027; }

.imgContainer {
  height: 400px;
  position: relative; }

.estilo:hover .imgContainer img {
  transform: scale(1.06); }

.joyas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px;
  font-size: 3.5em;
  color: #000000;
  font-family: "Raleway", sans-serif; }

.joyas__link {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .joyas__link .joyas:hover {
    color: #488888b2; }
  .joyas__link .joyas__info {
    display: inline-flex;
    flex-direction: row;
    border-bottom: 1px solid #000000;
    padding: 10px;
    color: #000000;
    margin: 30px;
    font-family: "Ubuntu", sans-serif;
    font-style: initial; }

.card-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 2em;
  font-size: 1.5em; }

.card-text {
  font-family: "Ubuntu", sans-serif;
  color: "Fira Sans", sans-serif; }

.card {
  box-shadow: 5px 5px 5px var(--shadow); }

.imgContainer {
  height: 400px;
  position: relative; }

.estilo .imgContainer img {
  width: 100%;
  transition: all 25sg;
  box-shadow: 5px 5px 5px #00000027; }

.estilo:hover .imgContainer img {
  transform: scale(1.06); }

.box__productos {
  margin-bottom: 280px; }

.texto__sucursales {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 11px;
  font-size: 3.5em;
  color: #000000;
  font-family: "Ubuntu", sans-serif; }

.sucursales {
  display: flex;
  justify-content: center;
  flex-direction: row; }
  .sucursales .sucursales__ubicacion {
    border-bottom: 1px solid #000000;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
    font-family: "Ubuntu", sans-serif;
    font-style: initial; }

.ubicacion__mapa {
  width: 100%;
  height: 400px; }

.redesSociales {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .redesSociales .texto__redes {
    color: #000000;
    font-family: "Raleway", sans-serif;
    margin: 10px; }

.redesSociales__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px; }
  .redesSociales__logo .redes__logo1 {
    margin-left: 20px; }
  .redesSociales__logo .redes__texto {
    color: #000000;
    font-size: 1.2em;
    font-family: "Ubuntu", sans-serif; }

/* MediaQ*/
/*New In y Productos*/
@media screen and (min-width: 1024px) {
  .card-title {
    font-size: 0.9em; }
  .card-text {
    font-size: 0.9em; }
  .box__productos {
    margin-bottom: 150px; } }

@media screen and (min-width: 780px) {
  .card-title {
    font-size: 0.9em; }
  .card-text {
    font-size: 0.9em; }
  .box__productos {
    margin-bottom: 150px; } }

@media screen and (min-width: 600px) {
  .card-title {
    font-size: 0.9em; }
  .card-text {
    font-size: 0.9em; }
  .box__productos {
    margin-bottom: 290px; } }

@media screen and (min-width: 480px) {
  .card-title {
    font-size: 1.2em; }
  .card-text {
    font-size: 1.2em; }
  .box__productos {
    margin-bottom: 350px; } }

@media screen and (max-width: 320px) {
  .card-title {
    font-size: 0.9em; }
  .card-text {
    font-size: 0.9em; }
  .box__productos {
    margin-bottom: 400px; } }

/*HOME*/
@media screen and (min-width: 1024px) {
  .card__productos .artesanos__card .artesanos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0; }
    .card__productos .artesanos__card .artesanos .artesanos__titulo {
      font-size: 2em;
      font-family: "Raleway", sans-serif; }
    .card__productos .artesanos__card .artesanos .artesanos__parrafo {
      font-size: 1.2em;
      font-family: "Raleway", sans-serif; }
    .card__productos .artesanos__card .artesanos .artesanos__imagen {
      width: 50%; } }

@media screen and (min-width: 768px) {
  .card__productos .box__cardIndex .card-title {
    font-size: 0.9em; }
  .card__productos .box__cardIndex .card-text {
    font-size: 0.7em; }
  .card__productos .box__cardIndex .card-footer {
    font-size: 0.7em; } }

@media screen and (min-width: 768px) {
  .card__productos .artesanos__card .artesanos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0; }
    .card__productos .artesanos__card .artesanos .artesanos__titulo {
      font-size: 2em;
      font-family: "Raleway", sans-serif; }
    .card__productos .artesanos__card .artesanos .artesanos__parrafo {
      font-size: 1.2em;
      font-family: "Raleway", sans-serif; }
    .card__productos .artesanos__card .artesanos .artesanos__imagen {
      width: 50%; } }

@media screen and (min-width: 600px) {
  .card__productos .box__cardIndex {
    display: flex;
    justify-content: center;
    align-items: center; }
    .card__productos .box__cardIndex .card-title {
      font-size: 0.9em; }
    .card__productos .box__cardIndex .card-text {
      font-size: 0.7em; }
    .card__productos .box__cardIndex .card-footer {
      font-size: 0.7em; } }

@media screen and (min-width: 600px) {
  .card__productos .artesanos__card .artesanos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0; }
    .card__productos .artesanos__card .artesanos .artesanos__titulo {
      font-size: 2em;
      font-family: "Raleway", sans-serif; }
    .card__productos .artesanos__card .artesanos .artesanos__parrafo {
      font-size: 1.2em;
      font-family: "Raleway", sans-serif; }
    .card__productos .artesanos__card .artesanos .artesanos__imagen {
      width: 50%; } }

@media screen and (min-width: 480px) {
  .card__productos .box__cardIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .card__productos .box__cardIndex .imgContainer {
      height: 400px;
      position: relative; }
  .card-title {
    font-size: 0.9em; }
  .card-text {
    font-size: 0.7em; }
  .card-footer {
    font-size: 0.7em; } }

@media screen and (min-width: 480px) {
  .card__productos .artesanos__card .artesanos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0; }
    .card__productos .artesanos__card .artesanos .artesanos__titulo {
      font-size: 2em;
      font-family: "Raleway", sans-serif; }
    .card__productos .artesanos__card .artesanos .artesanos__parrafo {
      font-size: 1.2em;
      font-family: "Raleway", sans-serif; }
    .card__productos .artesanos__card .artesanos .artesanos__imagen {
      width: 50%; } }

@media screen and (max-width: 320px) {
  .artesanos__card .artesanos {
    display: grid;
    grid-template-columns: 1fr, 2rf, 1fr;
    grid-template-rows: 1fr repeat(3, 150px);
    gap: 10px;
    padding: 30px; }
    .artesanos__card .artesanos .artesanos__titulo {
      grid-column: 1/2;
      grid-row: 1;
      font-size: 1.2em;
      font-family: "Raleway", sans-serif; }
    .artesanos__card .artesanos .artesanos__parrafo {
      grid-column: 1/3;
      grid-row: 2/3;
      font-size: 0.9em;
      font-family: "Raleway", sans-serif; }
    .artesanos__card .artesanos .artesanos__imagen {
      grid-column: 1/3;
      grid-row: 4; } }

/*PRODUCTOS*/
@media screen and (min-width: 320px) {
  .joyas__link {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .joyas:hover {
    color: #488888b2; }
  .joyas--bordes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #000000;
    padding: 2px;
    color: #000000;
    margin: 10px;
    font-family: "Ubuntu", sans-serif;
    font-style: initial;
    font-size: 1.2em; }
  .box__productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  /*Inicio de Sesion y Registrarse*/ }

@media screen and (min-width: 320px) and (max-width: 320px) {
  .bienvenido {
    font-family: "Raleway", sans-serif;
    color: #292727;
    color: #000000; }
  .form-label {
    font-family: "Dongle", sans-serif;
    font-size: 1.2em;
    color: #423f3fc7; }
  .form-check-label {
    font-family: "Dongle", sans-serif;
    font-size: 0.9em;
    color: #423f3fc7; }
  .registro {
    text-decoration: none;
    font-family: "Dongle", sans-serif;
    color: #423f3fc7; }
  .form__sexo {
    font-family: "Dongle", sans-serif;
    color: #423f3fc7; } }

@media screen and (min-width: 320px) {
  /*Redes sociales*/ }

@media screen and (min-width: 320px) and (max-width: 320px) {
  .redesSociales {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .redesSociales .texto__redes {
      color: #000000;
      font-family: "Raleway", sans-serif;
      font-size: 1.2em;
      margin: 10px; }
  .redes__texto {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.9em;
    color: #423f3fc7; } }

@media screen and (min-width: 320px) {
  /*UBICACION*/ }

@media screen and (min-width: 320px) and (max-width: 1040px) {
  .texto__ubicacion .texto__sucursales {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2em;
    margin-bottom: 40px;
    font-family: "Fira Sans", sans-serif; }
  .sucursales {
    display: flex;
    justify-content: center;
    flex-direction: row; }
    .sucursales .sucursales__ubicacion {
      letter-spacing: 2px;
      font-size: 0.9em;
      font-family: "Ubuntu", sans-serif;
      font-style: initial; } }

@media screen and (max-width: 320px) {
  .texto__ubicacion .texto__sucursales {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2em;
    margin-bottom: 40px;
    font-family: "Fira Sans", sans-serif; }
  .sucursales {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .sucursales .sucursales__ubicacion {
      font-size: 0.9em;
      font-family: "Ubuntu", sans-serif;
      font-style: initial; } }

/*Footer*/
@media screen and (max-width: 600px) {
  .footer .footer__preguntas {
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.9em;
    color: #000000;
    margin: 50px; }
    .footer .footer__preguntas .footer__faqs {
      margin: 8px;
      display: flex;
      justify-content: center; }
  .footer .box {
    display: flex;
    flex-direction: row;
    font-family: "Ubuntu", sans-serif; }
    .footer .box .footer__box {
      text-decoration: none;
      color: #000000;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 10px;
      width: 100%; } }

@media screen and (max-width: 480px) {
  .footer .footer__preguntas {
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.9em;
    color: #000000;
    margin: 50px; }
    .footer .footer__preguntas .footer__faqs {
      margin: 8px;
      display: flex;
      justify-content: center; }
  .footer .box {
    display: flex;
    flex-direction: row;
    font-family: "Ubuntu", sans-serif; }
    .footer .box .footer__box {
      padding: 0px;
      text-decoration: none;
      color: #000000;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 10px;
      width: 100%; } }

@media screen and (max-width: 320px) {
  .footer .footer__preguntas {
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.9em;
    color: #000000;
    margin: 50px; }
    .footer .footer__preguntas .footer__faqs {
      margin: 8px;
      display: flex;
      justify-content: center; }
  .footer .box {
    display: flex;
    flex-direction: row;
    font-family: "Ubuntu", sans-serif; }
    .footer .box .footer__box {
      text-decoration: none;
      display: flex;
      border: none;
      flex-direction: row;
      justify-content: center;
      margin: 10px;
      width: 100%;
      font-size: 0.7em;
      color: #000000; } }
