/*BARRA NAVEGACION*/

.navbar {
    .container-fluid {
        .navbar-brand {
            letter-spacing: 3px;
            font-size: $text-large;
            font-family: $font-secondary;
            color: map-get($colors, secondary);
        }

        .button__nav{
            display: flex;
            align-items: center;
        }
    }

    .menuNavegacion {
        margin-right: 95px;

        .nav-link {
            color: map-get($colors, text-textoSecundario);
            font-family: $font-principal;
        }

    }




    .botones__barraNavegacion {
        text-decoration: none;
        color: map-get($colors, text-color);
    }

    .botones__barraNavegacion:hover {
        color: map-get($colors, primary);
    }

}