.card__productos {

    .titulo__coleccion {
        width: 100%;
        @include flex(row,center,center,0px);
        margin-bottom: 70px;
        margin-top: 50px;
        font-family: $font-secondary;
        font-size: $text-large;
        &--active{
            @extend .titulo__coleccion;
                color: rgb(29, 57, 110);
            

        }
    }

    .cardIndex {
        @include flex(row,center,center,0px);
        margin-top: 15px;
    }

}


.card-title {
    font-family: $font-principal;
    font-size: $text-medium;
}

.card-title:hover {
    color: map-get($colors, hover );
}

.card-text {
    font-family: $font-principal;
    color: $font-section;
    font-size: $text-small;
}

.card {
    box-shadow: 5px 5px 5px var(--shadow);
}

.imgContainer {
    height: 400px;
    position: relative;

}

.estilo {
    .imgContainer {
        img {
            width: 100%;
            transition: all 25sg;
            box-shadow: 5px 5px 5px map-get($colors , shadow);
        }
    }
}

.estilo:hover {
    .imgContainer {
        img {
            transform: scale(1.06)
        }
    }
}


.artesanos__card {

    .artesanos {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(3 200px);
        gap: 10px;
        margin-top: 20px;

        &__titulo { 
            display: flex;
            justify-content: center;
            grid-column: 1/2;
            grid-row: 1;
            font-size: $text-extraLarge;
            font-family: $font-secondary;
        }

        &__parrafo {
            display: flex;
            justify-content: center;
            grid-column: 1;
            grid-row: 2/3;
            font-size: $text-large;
            font-family: $font-secondary;
        }

        &__imagen {
            grid-column: 2;
            grid-row: 2;
            width: 100%;
        }

    }
} 
