.joyas__box {
    .joyas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 25px;
        font-size: $text-large;
        color: map-get($colors , text-color);
        font-family: $font-secondary;
    }

    .joyas:hover{ 
        color: map-get($colors, text-hover );
    }

    .joyas__link {
        display: flex;
        flex-direction: row;
        justify-content: center;


        .joyas__info {
            display: inline-flex;
            flex-direction: row;
            border-bottom: 1px solid map-get($colors , text-color);
            padding: 10px;
            color: map-get($colors , text-color);
            margin: 3px;
            font-family: $font-principal;
            font-style: initial;
            font-size: $text-xxSmall;
        }

        .joyas__info:hover{
            color: rgb(121, 121, 172);
            border-bottom: 1px solid rgb(93, 93, 109) ;
        }
    }
}


.card-body {
    .card-title {
        font-family: $font-principal;
        font-size: $text-small;
    }

    .card-title:hover {
        color: map-get($colors, hover);
    }

    .card-text {
        font-family: $font-principal;
        color: $font-section;
        font-size: $text-xxSmall;
    }

    .card {
        box-shadow: 5px 5px 5px var(--shadow);
    }
}

.estilo {
    .img__container {
        img {
            width: 100%;
            transition: all 25sg;
            box-shadow: 5px 5px 5px map-get($colors , shadow);
        }
    }
}

.estilo:hover {
    .img__container {
        img {
            transform: scale(1.06)
        }
    }
}