/*New In y Productos*/

@media screen and (max-width:1024px) {
    .card-title {
        font-size: $text-xSmall;
    }

    .card-text {
        font-size: $text-xSmall;
    }
}


@media screen and (max-width:780px) {
    .card-title {
        font-size: $text-xxSmall;
    }

    .card-text {
        font-size: $text-xxSmall;
    }

}

@media screen and (max-width:600px) {
    .card-title {
        font-size: $text-xSmall;
    }

    .card-text {
        font-size: $text-xSmall;
    }
}

@media screen and (max-width:480px) {
    .card-title {
        font-size: $text-xSmall;
    }

    .card-text {
        font-size: $text-xSmall;
    }

}

@media screen and (max-width:320px) {
    .card-title {
        font-size: $text-xxSmall;
    }

    .card-text {
        font-size: $text-xxSmall;
    }

}


/*HOME*/
@media screen and (max-width: 1024px) {
    .box__artesanos {
        .artesanos__card {
            
            .artesanos {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: 0;
                padding: 0;

                .artesanos__titulo {

                    font-size: $text-medium;
                    font-family: $font-secondary;
                }

                .artesanos__parrafo {
                    margin-top: 10px;
                    font-size: $text-xSmall;
                    font-family: $font-secondary;
                }

                .artesanos__imagen {

                    width: 50%;

                }
            }

        }


    }
}


@media screen and (max-width: 768px) {
    .box__artesanos {
        .artesanos__card {
            margin-top: 50px;

            .artesanos {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: 0;
                padding: 0;

                .artesanos__titulo {

                    font-size: $text-medium;
                    font-family: $font-secondary;
                }

                .artesanos__parrafo {

                    font-size: $text-xSmall;
                    font-family: $font-secondary;
                }

                .artesanos__imagen {

                    width: 50%;

                }
            }

        }


    }
}

@media screen and (max-width: 600px) {
    .box__artesanos {
        .artesanos__card {
            margin-top: 50px;

            .artesanos {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: 0;
                padding: 0;

                .artesanos__titulo {
                    font-size: $text-small;
                    font-family: $font-secondary;
                }

                .artesanos__parrafo {
                    font-size: $text-xSmall;
                    font-family: $font-secondary;
                }

                .artesanos__imagen {
                    width: 50%;

                }
            }

        }


    }
}


@media screen and (max-width: 480px) {
    .box__artesanos {
        .artesanos__card {
            margin-top: 50px;

            .artesanos {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: 0;
                padding: 0;

                .artesanos__titulo {
                    font-size: $text-xSmall;
                    font-family: $font-secondary;
                }

                .artesanos__parrafo {
                    font-size: $text-xxSmall;
                    font-family: $font-secondary;

                }

                .artesanos__imagen {
                    width: 50%;

                }
            }

        }


    }

}

@media screen and (max-width: 320px) {
    .box__artesanos {
        .artesanos__card {
            .artesanos {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: 0;
                padding: 0;

                .artesanos__titulo {
                    font-size: $text-small;
                    font-family: $font-secondary;
                }

                .artesanos__parrafo {
                    font-size: $text-xxSmall;
                    font-family: $font-secondary;

                }


            }
        }
    }
}

/*PRODUCTOS*/

@media screen and (min-width: 320px) {

    .joyas__link {
        font-size: $text-xSmall;
        display: flex;
        flex-direction: row;
        justify-content: center;


        .joyas:hover {
            color: map-get($colors, text-hover);
        }

        .joyas__info {
            display: flex;
            flex-direction: row;
            justify-content: center;
            border-bottom: 1px solid map-get($colors, text-color);
            padding: 2px;
            color: map-get($colors, text-color);
            font-family: $font-principal;
            font-style: initial;
            font-size: $text-xxxSmall;
        }
    }



/*INICIO DE SESION Y REGISTRARSE*/

    @media screen and (max-width: 320px) {

        .bienvenido {
            font-family: $font-secondary;
            color: map-get($colors, text-textoSecundario);
            color: map-get($colors , text-color);

        }

        .form-label {
            font-family: $font-info;
            font-size: $text-xSmall;
            color: map-get($colors, text-sections);
        }

        .form-check-label {
            font-family: $font-info;
            font-size: $text-xxSmall;
            color: map-get($colors, text-sections);
        }


        .registro {
            text-decoration: none;
            font-family: $font-info;
            color: map-get($colors, text-sections);
        }

        .form__sexo {
            font-family: $font-info;
            color: map-get($colors, text-sections);
        }

    }


    /*REDES SOCIALES*/

    @media screen and (max-width: 320px) {
        .redesSociales {
            display: flex;
            flex-direction: row;
            justify-content: center;


            .texto__redes {
                color: map-get($colors, text-color);
                font-family: $font-secondary;
                font-size: $text-xSmall;
                margin: 10px;
            }
        }

        .redes__texto {
            font-family: $font-principal;
            font-size: $text-xxSmall;
            color: map-get($colors , text-sections);

        }
    }

    /*UBICACION*/

    @media screen and (max-width: 1040px) {
        .texto__ubicacion {
            .texto__sucursales {
                display: flex;
                justify-content: center;
                align-content: center;
                font-size: $text-medium;
                margin-bottom: 40px;
                font-family: $font-section;
            }
        }

        .sucursales {

            display: flex;
            justify-content: center;
            flex-direction: row;

            .sucursales__ubicacion {

                letter-spacing: 2px;
                font-size: $text-xxSmall;
                font-family: $font-principal;
                font-style: initial;

            }
        }
    }
}

@media screen and (max-width: 320px) {
    .texto__ubicacion {
        .texto__sucursales {
            display: flex;
            justify-content: center;
            align-content: center;
            font-size: $text-medium;
            margin-bottom: 40px;
            font-family: $font-section;
        }
    }

    .sucursales {

        display: flex;
        justify-content: center;
        flex-direction: column;

        .sucursales__ubicacion {
            font-size: $text-xxSmall;
            font-family: $font-principal;
            font-style: initial;

        }
    }

}



/*FOOTER*/

@media screen and (max-width: 600px) {
    .footer {

        .footer__preguntas {
            display: flex;
            flex-direction: column;
            font-family: $font-principal;
            font-size: $text-xxSmall;
            color: map-get($colors, text-color);
            margin: 50px;

            .footer__faqs {
                margin: 8px;
                display: flex;
                justify-content: center;
            }
        }

        .box {
            display: flex;
            flex-direction: row;
            font-family: $font-principal;

            .footer__box {
                text-decoration: none;
                color: map-get($colors, text-color);
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: 10px;
                width: 100%;
            }
        }
    }

}


@media screen and (max-width: 480px) {
    .footer {

        .footer__preguntas {
            display: flex;
            flex-direction: column;
            font-family: $font-principal;
            font-size: $text-xxSmall;
            color: map-get($colors, text-color);
            margin: 50px;

            .footer__faqs {
                margin: 8px;
                display: flex;
                justify-content: center;
            }
        }

        .box {
            display: flex;
            flex-direction: row;
            font-family: $font-principal;

            .footer__box {
                padding: 0px;
                text-decoration: none;
                border: none;
                color: map-get($colors, text-color);
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: 10px;
                width: 100%;
                font-size: $text-xxSmall;
            }
        }
    }

}


@media screen and (max-width: 320px) {
    .footer {

        .footer__preguntas {
            display: flex;
            flex-direction: column;
            font-family: $font-principal;
            font-size: $text-xxSmall;
            color: map-get($colors, text-color);
            margin: 50px;

            .footer__faqs {
                margin: 8px;
                display: flex;
                justify-content: center;
            }
        }

        .box {
            display: flex;
            flex-direction: row;
            font-family: $font-principal;

            .footer__box {
                text-decoration: none;
                display: flex;
                border: none;
                flex-direction: row;
                justify-content: center;
                margin: 10px;
                width: 100%;
                font-size: $text-xxxSmall;
                color: map-get($colors, text-color);
            }
        }
    }

}