/*Media Query 1024px*/
@media screen and (min-width:1024px) {
    .card__productos {
        .box__cardIndex {

            .card-title {
                font-size: $text-xxSmall;
            }

            .card-text {
                font-size: $text-xxSmall;
            }
        }
    }
}


@media screen and (min-width: 1024px) {
    .card__productos {
        .artesanos__card {
            .artesanos {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: 0;
                padding: 0;

                .artesanos__titulo {

                    font-size: $text-medium;
                    font-family: $font-secondary;
                }

                .artesanos__parrafo {

                    font-size: $text-xSmall;
                    font-family: $font-secondary;
                }

                .artesanos__imagen {

                    width: 50%;

                }
            }

        }
    }

}

/*Fin Media Query 1024px*/

/*Media Query 768px*/

@media screen and (min-width:768px) {
    .card__productos {
        .box__cardIndex {

            .card-title {
                font-size: $text-xxSmall;
            }

            .card-text {
                font-size: $text-xxxSmall;
            }

            .card-footer {
                font-size: $text-xxxSmall;
            }
        }
    }
}


@media screen and (min-width: 768px) {
    .card__productos {
        .artesanos__card {
            .artesanos {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: 0;
                padding: 0;

                .artesanos__titulo {

                    font-size: $text-medium;
                    font-family: $font-secondary;
                }

                .artesanos__parrafo {

                    font-size: $text-xSmall;
                    font-family: $font-secondary;
                }

                .artesanos__imagen {

                    width: 50%;

                }
            }

        }
    }

}

/*Fin Media Query 780px*/

/*Media Query 600px*/

@media screen and (min-width:600px) {
    .card__productos {
        .box__cardIndex {

            display: flex;
            justify-content: center;
            align-items: center;

            .card-title {
                font-size: $text-xxSmall;
            }

            .card-text {
                font-size: $text-xxxSmall;
            }

            .card-footer {
                font-size: $text-xxxSmall;
            }
        }
    }
}


@media screen and (min-width: 600px) {
    .card__productos {
        .artesanos__card {
            .artesanos {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: 0;
                padding: 0;

                .artesanos__titulo {

                    font-size: $text-medium;
                    font-family: $font-secondary;
                }

                .artesanos__parrafo {

                    font-size: $text-xSmall;
                    font-family: $font-secondary;
                }

                .artesanos__imagen {

                    width: 50%;

                }
            }

        }
    }

}


@media screen and (max-width: 600px) {
    .footer {

        .footer__preguntas {
            display: flex;
            flex-direction: column;
            font-family: $font-principal;
            font-size: $text-xxSmall;
            color: map-get($colors, text-color);
            margin: 50px;

            .footer__faqs {
                margin: 8px;
                display: flex;
                justify-content: center;
            }
        }

        .box {
            display: flex;
            flex-direction: row;
            font-family: $font-principal;

            .footer__box {
                text-decoration: none;
                color: map-get($colors, primary);
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: 10px;
                width: 100%;
            }
        }
    }

}

/*Fin Media Query 600px*/

/*Media Query 480px*/

@media screen and (min-width:480px) {
    .card__productos {

        .box__cardIndex {

            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;


            .imgContainer {
                height: 400px;
                position: relative;

            }

        }
    }

    .card-title {
        font-size: $text-xxSmall;
    }

    .card-text {
        font-size: $text-xxxSmall;
    }

    .card-footer {
        font-size: $text-xxxSmall;
    }
}

@media screen and (min-width: 480px) {
    .card__productos {
        .artesanos__card {
            .artesanos {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin: 0;
                padding: 0;

                .artesanos__titulo {

                    font-size: $text-medium;
                    font-family: $font-secondary;
                }

                .artesanos__parrafo {

                    font-size: $text-xSmall;
                    font-family: $font-secondary;
                }

                .artesanos__imagen {

                    width: 50%;

                }
            }

        }
    }

}

@media screen and (max-width: 480px) {
    .footer {

        .footer__preguntas {
            display: flex;
            flex-direction: column;
            font-family: $font-principal;
            font-size: $text-xxSmall;
            color: map-get($colors, text-color);
            margin: 50px;

            .footer__faqs {
                margin: 8px;
                display: flex;
                justify-content: center;
            }
        }

        .box {
            display: flex;
            flex-direction: row;
            font-family: $font-principal;

            .footer__box {
                padding: 0px;
                text-decoration: none;
                color: map-get($colors, primary);
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: 10px;
                width: 100%;
            }
        }
    }

}

/*Fin Media Query 480px*/

/*Media query 320px*/

@media screen and (max-width: 320px) {
    .artesanos__card {

        .artesanos {

            display: grid;
            grid-template-columns: 1fr, 2rf, 1fr;
            grid-template-rows: 1fr repeat(3, 150px);
            gap: 10px;
            padding: 30px;

            .artesanos__titulo {
                grid-column: 1/2;
                grid-row: 1;
                font-size: $text-small;
                font-family: $font-secondary;
            }

            .artesanos__parrafo {
                grid-column: 1/3;
                grid-row: 2/3;
                font-size: $text-xxSmall;
                font-family: $font-secondary;
            }

            .artesanos__imagen {

                grid-column: 1/3;
                grid-row: 4;

            }
        }
    }
}


@media screen and (max-width: 320px) {
    .footer {

        .footer__preguntas {
            display: flex;
            flex-direction: column;
            font-family: $font-principal;
            font-size: $text-xxSmall;
            color: map-get($colors, text-color);
            margin: 50px;

            .footer__faqs {
                margin: 8px;
                display: flex;
                justify-content: center;
            }
        }

        .box {
            display: flex;
            flex-direction: row;
            font-family: $font-principal;

            .footer__box {
                text-decoration: none;
                display: flex;
                border: none;
                flex-direction: row;
                justify-content: space-around;
                margin: 10px;
                width: 100%;
            }
        }
    }

}

/*Fin Media Query 320px*/



/*PRODUCTOS*/

@media screen and (min-width: 320px) {

    .joyas__link {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .joyas:hover {
        color: map-get($colors, text-hover);
    }

    .joyas--bordes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 1px solid map-get($colors, text-color);
        padding: 2px;

        color: map-get($colors, text-color);
        margin: 10px;
        font-family: $font-principal;
        font-style: initial;
        font-size: $text-xSmall;
    }

    .box__productos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }




}


/*UBICACION*/

@media screen and (max-width: 790px) {
    .sucursales {
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: $text-medium;
        margin-bottom: 40px;
        font-family: $font-section;
    }

    .sucursales__ubicacion--bordes {
        display: flex;
        justify-content: center;
        flex-direction: row;
        border: 0.5px solid map-get($colors, text-color);
        letter-spacing: 2px;
        font-size: $text-base;
        font-family: $font-section;
    }
}

@media screen and (max-width: 480px) {
    .sucursales {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 40px;
    }

    .sucursales__ubicacion--bordes {
        display: flex;
        justify-content: center;
        flex-direction: row;
        border: 0.5px solid map-get($colors, text-color);
        letter-spacing: 2px;
    }
}

/*REDES SOCIALES*/

@media screen and (max-width: 780px) {
    .redesSociales--texto {
        font-family: $font-principal;
        color: map-get($colors, primary);
        padding: 5px;
        background: map-get($colors, secondary);
    }
}

/*FIN REDES SOCIALES*/



