 /*COLORES*/
 $base: #FFFFFF;
 $primary: #FFFFFF;
 $secondary: #000000ee;
 $text-color: #000000;
 $text-sections: #423f3fc7;
 $text-submenu: #e7e7e7a4;
 $text-textoSecundario: #292727;
 $text-hover: #488888b2;
 $shadow: #00000027;

 /*FONT FAMILY*/
 $font-principal: "Ubuntu", sans-serif;
 $font-secondary: 'Raleway', sans-serif;
 $font-info: 'Dongle', sans-serif;
 $font-title: "Radio Canada", sans-serif;
 $font-section: "Fira Sans", sans-serif;


 /*FONT SIZES*/
 $text-extraLarge: 7.5em;
 $text-maxLarge: 6.0em;
 $text-large: 3.5em;
 $text-medium: 2.0em;
 $text-base: 1.8em;
 $text-small: 1.5em;
 $text-xSmall: 1.2em;
 $text-xxSmall:0.9em;
 $text-xxxSmall:0.7em;